* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.01em;
}

:root {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background: #333;
  line-height: 1.35;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
  font: inherit;
}

.button {
  cursor: pointer;
  background: #444;
  color: #eee;
  height: 2em;
  display: flex;
  align-items: center;
  padding: 0 0.75em;
  border: 0;
  border-radius: 0.5em;
}
.button:disabled {
  cursor: default !important;
  opacity: 0.75;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-2x {
  font-size: 2em;
}