.room {
  width: 100%;
  max-width: 45em;
  flex: 1 0;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.new-msg {
  display: grid;
  align-items: stretch;
  position: relative;
  font-size: 1.25em;
  margin: 2em 0 0.5em 0;
  border-radius: 1.5em;
}
.new-msg::after {
  content: attr(data-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
  grid-area: 1 / 1;
  padding: 0.75em 1em;
}
.new-msg textarea {
  grid-area: 1 / 1;
  resize: none;
  border-radius: 1.5em;
  padding: 0.75em 1em;
  overflow: hidden;
}
.new-msg textarea:focus {
  border-color: transparent;
}
.new-msg textarea:focus::placeholder {
  color: transparent;
}

.msg-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 60%;
  margin: 0.5em 0;
}
.msg-group.right {
  align-items: flex-end;
}

.user {
  color: #efefef;
  font-weight: bold;
  margin: 0.3em 0;
}

.msg {
  background: #666;
  color: white;
  padding: 0.6em 0.9em;
  text-align: left;
  margin: 0.25em 0.75em;
}